.ant-switch-checked {
    background-color: #13ce66 !important;
}
.ant-image-img {
    border-radius: 4px !important;
}
.ant-table-thead > tr > th{
    color: #909399 !important;
    font-weight: 500 !important;
    background: #ffffff !important;
    text-align: center !important;
    height: 40px !important;
    padding: 10px 10px !important;
}
.ant-table table {
    text-align: center !important;
}