.ant-menu.ant-menu-dark {
    background: var(--menuBg) !important;
}
.sidebar-container {
    background-color: var(--menuBg) !important;
    height: 100%;
    -webkit-box-shadow: 2px 0 6px rgba(0,21,41,.35);
    box-shadow: 2px 0 6px #00152959;
    z-index: 41;
    overflow-y: auto;
}

.app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
}
.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 40;
    width: calc(100%);
    transition: width .28s;
    border-bottom: 1px solid #dcdfe6;
}
.main-container {
    min-height: 100%;
    width: 100%;
    transition: margin .28s;
    position: relative;
    margin-top: 64px;
    background-color: #fff !important;

    &.fixed-content {
        background-color: #fff !important;
    }
}


